In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

we will perform Chi_square test because it is use for categorical data.

In [25]:
import numpy as np
import  scipy

In [27]:
observed_values = np.array([[50, 142, 131, 70],
                            [435, 1523, 1356, 750]])

In [34]:
chi2_stat, p_value, dof, expected =scipy.stats.chi2_contingency(observed_values)

In [35]:
print(f"Chi-squared Statistic: {chi2_stat}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}")
print("Expected Frequencies:")
print(expected)

Chi-squared Statistic: 1.595945538661058
P-value: 0.6603094907091882
Degrees of Freedom: 3
Expected Frequencies:
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [36]:
#alpha value =0.05
if p_value < 0.05:
    print("Reject the null hypothesis: Not all proportions are equal.")
else:
    print("Fail to reject the null hypothesis: Proportions are equal.")

Fail to reject the null hypothesis: Proportions are equal.